<div class="footer">
  <div class="footer-links">
    <%= link_to "Sobre nós", about_us_path, class: "navbar-nav mr-auto home" %>
  </div>
  <div class="footer-copyright">
    <div id="footer-brasil"></div>
    <script type='text/javascript' src='https://barra.brasil.gov.br/barra_2.0.js?ver=5.5.1' id='barra-brasil-script-js'></script>
  </div>
</div>
