<div class="footer">
  <div class="footer-links">
    <p>
    <a href=""><img src="/assets/logo1-b588423c3837426b57d2991da4006c7159d3bed1e4a67f7dd03ed740847ba24e.png"alt="" style="width: 30px;margin-right: 10px;" ></a>
    Website construído durante o curso "Coding Bootcamp". <%= link_to "Conheça-nos!", about_us_path %>
    </p>
  </div>
  <div class="footer-copyright">
    <a href="https://codingbootcamp.enap.gov.br/pt/#services" target="_blank" >
    <img src="https://codingbootcamp.enap.gov.br/images/logo-enap.png" alt="" style="width: 60px;margin-right: 20px;" >
    </a>
    <a href="https://www.lewagon.com/" target="_blank"  >
    <img src="https://codingbootcamp.enap.gov.br/images/logo-v2.png" alt="" style="width: 90px" >
    </a>
  </div>
</div>
