<%# FOOTER DO GOVERNO FEDERAL - NÃO SEI SE ESSE É O LUGAR. GABI%>

<div id="footer-brasil"></div>

<script type='text/javascript' src='https://barra.brasil.gov.br/barra_2.0.js?ver=5.5.1' id='barra-brasil-script-js'></script>