<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div>
        <h2 class="display-4 font-weight-light ml-3 mb-2">Nosso Time</h2>
        <h4 class="font-italic ml-3 text-muted mb-5">Somos servidores públicos e alunos da primeira turma do Coding Bootcamp Le Wagon e ENAP.<br>
          Curiosos e entusiastas de programação e desenvolvimento web.</h4>

      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars1.githubusercontent.com/u/65954136?s=460&u=23a5833ab9cda5950185ffbcdc357cefd1d2a3d0&v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0" style="min-height: 48px">Rafael Luís Giacomin</h5><span class="small text-uppercase text-muted">Analista de Planejamento e Orçamento, Ministério da Economia.</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/R-Giacomin" class="social-link"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars3.githubusercontent.com/u/66140942?s=460&u=55975b94d4b1c874ce84631b76671668d1833ef3&v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0" style="min-height: 48px">Gabriella Nunes Neves</h5><span class="small text-uppercase text-muted">Analista Técnica de Políticas Sociais - Ministério da Saúde</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/gabriellaneves" class="social-link"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars3.githubusercontent.com/u/4486593?s=460&u=3a690191780a387140619f21a3a9358ca3d8622a&v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0" style="min-height: 48px">Marcos Teixeira Camara</h5><span class="small text-uppercase text-muted">Auditor Fiscal da Receita Federal do Brasil - Ministério da Economia</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/marcostc" class="social-link"><i class="fa fa-github"></i></a></li>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars2.githubusercontent.com/u/65927426?s=460&u=e249f7f1361dda4c6c5f4a6ad0097f71d1b7e0e8&v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0" style="min-height: 48px">Fabiana Barreiros da Silva</h5><span class="small text-uppercase text-muted">Analista-Tributário da Receita Federal do Brasil - Ministério da Economia</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/Fabibarreiros" class="social-link"><i class="fa fa-github fa-cog"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
    <div class="row mb-4">
      <div class="">
        <h2 class="display-4 font-weight-light ml-3">Nosso Projeto</h2>
        <h4 class="font-italic ml-3 text-muted"> <strong>Meus Dados de Saúde</strong> é uma aplicação web que publica informações sobre as bases nacionais de dados de saúde, detalhando seus responsáveis, os tipos de dados tratados, a previsão legal e a finalidade do tratamento. <br>
        <br>
        A aplicação oferece a possibilidade ao cidadão de solicitar o acesso a seus dados pessoais. Além disso, os agentes responsáveis por formular e gerir políticas públicas ou realizar estudos e pesquisas podem também solicitar acesso à base identificada. Outra opção de acesso é a disponibilização da base de dados agregados e identificados.</p>

      </div>
    </div>
  </div>
</div>





<!-- <footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
  </div>
</footer> -->
