<div class="container">
  <div class="search text-center">
    <%= form_tag bases_path, :method => "get" do %>
      <%= text_field_tag :search, params[:search],
      placeholder: "Procure por um termo" %>
      <%= submit_tag("Buscar", :name => nil, class: "btn btn-warning") %>
    <% end %>
  </div>
</div>

<div class="banner" style="background-image: url('<%= image_path 'Banner.jpeg' %>')">
  <div class="banner-content">
  <hr>
    <h1>Meus Dados de Saúde</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>



