<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div>
        <h2 class="display-4 font-weight-light ml-3 mb-5 text-lilac ">Prezado gestor de sistema</h2>
        <br>

        <h4 class="font-italic ml-3 text-purple mb-5">
          A sua contribuição é muito importante para facilitar o acesso a dados
          pelo cidadão e pelo pesquisador, além de dar mais transparência
          sobre quais dados estão disponíveis e onde encontrá-los.
          <br>
          <br>
          Para iserir suas bases de dados, basta criar um login e enviar um e-mail
          para o administrador do site (admin@admin.com) informando seu nome,
          CPF e e-mail, solicitando a mudança do seu perfil para gestor de base.
          <br>
          <br>
          Pode ser que o administrador solicite algumas informações a mais
          para validação do seu cadastro.
        </h4>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

