.banner {
    color: white;
    text-align: center;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    // align-items: center;
    justify-content: center;
  }

  .banner h1 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    color: #6a2c70;
    text-align: center;
    align-items: top;
  }
  .banner p {
    font-size: 25px;
    font-weight: lighter;
    color: black;
    opacity: 0.6;
    margin-bottom: 30px;
    text-align: center;
  }

  .btn-ms {
    color: white;
    background-color: #6A3270;
    border-color: #9072A7;
    border-radius: 10px;
  }
