.banner {
    color: white;
    text-align: center;
    height: 469px;
    background-size: cover;
    background-position: center;
    display: flex;
    // align-items: center;
    justify-content: center;
    // margin-top: 32px;
  }

  .banner h1 {
    font-size: 40px;
    font-weight: bold;
    text-shadow:  0px 1px rgba(0, 0, 0, 0.2);
    color: #6a2c70;
    text-align: center;
    align-items: top;
    margin: 4.5rem;
    height: 6px;
  }

  .btn-ms {
    color: white;
    background-color: #6A3270;
    border-color: #9072A7;
    border-radius: 10px;
  }

  .banner2 {
    background-color:white;
    text-align: center;
    height: 321px;
    background-size: cover;
    background-position: center;
    display: flex;
    // align-items: center;
    justify-content: center;
  }

  .banner2 h2 {
    color:  #6A3270;
  }

  .banner2 p {
    color: #9072A7;
  }

.select2-container .select2-selection--single {
    height: 33px;
  }
