.footer {
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 30px;
  color: rgba(0,0,0,0.3);
  font-size: large;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-links p {
  color: black;
  opacity: 0.7;
  text-decoration: none;
  font-size: 17px;
  padding: 0px 10px;
  margin: 0px;
}

.footer-links a {
  color: black;
  text-decoration: none;
}

.footer-links a:hover {
  opacity: 1;
  color: black;
  text-decoration: none;
}
.footer .fa-heart {
  color: #6A3270;
}


