.fake-navbar {
  // background-color: white;
  height: 100px;
  background-color: #F4F4F4;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: large;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.p-3 {
    padding: 0rem !important;
}

.mb-5, .my-5 {
    margin-bottom: 0rem !important;
}

#barra-brasil .conteudo-barra-brasil {
  max-width: 1400px;
}

.home {
  color: rgba(0, 0, 0, 0.9);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  background-color: transparent;
}

.p-3 {
  padding: 1rem !important;
}
